// _variables.scss
$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", serif;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-background: #f5f5f5;
$color-dark: #2e2e2e;
$color-light: #eaeaea;
$shadow-light: 2px 2px 2px 2px #cfcfcf;
