footer {
  background-color: #2e2e2e;
  padding: 20px;
}

.footer-title {
  font-family: "Shrikhand", serif;
  margin: 0;
  color: white;
}

.footer-wrapper {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width: 930px;
  margin: auto;
  flex-wrap: wrap; 
}

.footer-wrapper > a {
  color: white;
  text-decoration: none;
  margin: 0 15px; 
  display: flex; 
  align-items: center; 
}

.footer-links {
  display: flex;
  align-items: center; 
}

.footer-icons {
  width: 30px;
  font-size: 15px;
  margin-right: 5px; 
}

p {
  margin: 0;
  font-size: 15px;
}

i {
  font-size: 15px;
}
@media (max-width: 768px) {
  .footer-wrapper {
      flex-direction: column; 
      align-items: flex-start; 
  }

  .footer-title {
      text-align: left; 
      flex: none;
      margin: 0; 
  }

  .footer-wrapper > a {
      margin: 10px 0; 
      width: 100%; 
      text-align: left; 
  }
}
